.btn {
    width: 30px;
    height: 30px;
    padding: 5px;
    outline: 1px solid black;
    margin: 2px;
    cursor: pointer;
} 
.instructions{
    visibility: hidden;
}
.fillEmpty {
    background-color: white;
}
.fillEmpty:hover{
    background-color: rgb(213, 208, 208);
}
.fillFilled{
    background-color: rgb(100, 227, 100);
}

.fillFilled:hover{
    background-color: rgb(182, 252, 182);
}
.continue{
    height:50px;
    width:100px;
    border-radius: 5px;
    background-color: white;
    outline: 3px solif violet;
    font-weight: bolder;
    background-color:rgb(182, 252, 182);
}
.continue:hover{
    cursor: pointer;
    background-color: rgb(44, 231, 44);
}
.reload{
    visibility: hidden;
}
/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}